<!DOCTYPE html>
<html ng-app="app">

  <head>
    <meta name="viewport" content="width=device-width,height=device-height initial-scale=1.0"/>
    <script data-require="jquery@*" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link data-require="materialize@*" data-semver="0.96.1" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css" />
    <script data-require="materialize@*" data-semver="0.96.1" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    <script data-require="angularjs@1.6.4" data-semver="1.6.4" src="https://code.angularjs.org/1.6.4/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
    <script src="bundle.js"></script>
  </head>

  <body ng-controller="ctrl as vm">

    <div class="row">
      <a class="btn col s2" ><i class="material-icons">menu</i></a>
      <a class="btn col s4" ng-click="vm.changeView('cards')">practice</a>
      <a class="btn col s4" ng-click="vm.changeView('vocab')">vocab</a>
      <a class="btn col s2" ng-click="vm.changeView('settings')"><i class="material-icons">settings</i></a>
    </div>

    <div ng-if="vm.showCards" ng-include="'./pages/flashcard.html'"></div>
    <div ng-if="vm.showSettings" ng-include="'./pages/options.html'"></div>
    <div ng-if="vm.showVocab" ng-include="'./pages/vocab.html'"></div>

  </body>

</html>
